<option value="Adrar" {% if selected == "Adrar" %}selected{% endif %}>01 - Adrar</option>
<option value="Chlef" {% if selected == "Chlef" %}selected{% endif %}>02 - Chlef</option>
<option value="Laghouat" {% if selected == "Laghouat" %}selected{% endif %}>03 - Laghouat</option>
<option value="Oum El Bouaghi" {% if selected == "Oum El Bouaghi" %}selected{% endif %}>04 - Oum El Bouaghi</option>
<option value="Batna" {% if selected == "Batna" %}selected{% endif %}>05 - Batna</option>
<option value="Béjaïa" {% if selected == "Béjaïa" %}selected{% endif %}>06 - Béjaïa</option>
<option value="Biskra" {% if selected == "Biskra" %}selected{% endif %}>07 - Biskra</option>
<option value="Béchar" {% if selected == "Béchar" %}selected{% endif %}>08 - Béchar</option>
<option value="Blida" {% if selected == "Blida" %}selected{% endif %}>09 - Blida</option>
<option value="Bouira" {% if selected == "Bouira" %}selected{% endif %}>10 - Bouira</option>
<option value="Tamanrasset" {% if selected == "Tamanrasset" %}selected{% endif %}>11 - Tamanrasset</option>
<option value="Tébessa" {% if selected == "Tébessa" %}selected{% endif %}>12 - Tébessa</option>
<option value="Tlemcen" {% if selected == "Tlemcen" %}selected{% endif %}>13 - Tlemcen</option>
<option value="Tiaret" {% if selected == "Tiaret" %}selected{% endif %}>14 - Tiaret</option>
<option value="Tizi Ouzou" {% if selected == "Tizi Ouzou" %}selected{% endif %}>15 - Tizi Ouzou</option>
<option value="Alger" {% if selected == "Alger" %}selected{% endif %}>16 - Alger</option>
<option value="Djelfa" {% if selected == "Djelfa" %}selected{% endif %}>17 - Djelfa</option>
<option value="Jijel" {% if selected == "Jijel" %}selected{% endif %}>18 - Jijel</option>
<option value="Sétif" {% if selected == "Sétif" %}selected{% endif %}>19 - Sétif</option>
<option value="Saïda" {% if selected == "Saïda" %}selected{% endif %}>20 - Saïda</option>
<option value="Skikda" {% if selected == "Skikda" %}selected{% endif %}>21 - Skikda</option>
<option value="Sidi Bel Abbès" {% if selected == "Sidi Bel Abbès" %}selected{% endif %}>22 - Sidi Bel Abbès</option>
<option value="Annaba" {% if selected == "Annaba" %}selected{% endif %}>23 - Annaba</option>
<option value="Guelma" {% if selected == "Guelma" %}selected{% endif %}>24 - Guelma</option>
<option value="Constantine" {% if selected == "Constantine" %}selected{% endif %}>25 - Constantine</option>
<option value="Médéa" {% if selected == "Médéa" %}selected{% endif %}>26 - Médéa</option>
<option value="Mostaganem" {% if selected == "Mostaganem" %}selected{% endif %}>27 - Mostaganem</option>
<option value="M'Sila" {% if selected == "M'Sila" %}selected{% endif %}>28 - M'Sila</option>
<option value="Mascara" {% if selected == "Mascara" %}selected{% endif %}>29 - Mascara</option>
<option value="Ouargla" {% if selected == "Ouargla" %}selected{% endif %}>30 - Ouargla</option>
<option value="Oran" {% if selected == "Oran" %}selected{% endif %}>31 - Oran</option>
<option value="El Bayadh" {% if selected == "El Bayadh" %}selected{% endif %}>32 - El Bayadh</option>
<option value="Illizi" {% if selected == "Illizi" %}selected{% endif %}>33 - Illizi</option>
<option value="Bordj Bou Arréridj" {% if selected == "Bordj Bou Arréridj" %}selected{% endif %}>34 - Bordj Bou Arréridj</option>
<option value="Boumerdès" {% if selected == "Boumerdès" %}selected{% endif %}>35 - Boumerdès</option>
<option value="El Tarf" {% if selected == "El Tarf" %}selected{% endif %}>36 - El Tarf</option>
<option value="Tindouf" {% if selected == "Tindouf" %}selected{% endif %}>37 - Tindouf</option>
<option value="Tissemsilt" {% if selected == "Tissemsilt" %}selected{% endif %}>38 - Tissemsilt</option>
<option value="El Oued" {% if selected == "El Oued" %}selected{% endif %}>39 - El Oued</option>
<option value="Khenchela" {% if selected == "Khenchela" %}selected{% endif %}>40 - Khenchela</option>
<option value="Souk Ahras" {% if selected == "Souk Ahras" %}selected{% endif %}>41 - Souk Ahras</option>
<option value="Tipaza" {% if selected == "Tipaza" %}selected{% endif %}>42 - Tipaza</option>
<option value="Mila" {% if selected == "Mila" %}selected{% endif %}>43 - Mila</option>
<option value="Aïn Defla" {% if selected == "Aïn Defla" %}selected{% endif %}>44 - Aïn Defla</option>
<option value="Naâma" {% if selected == "Naâma" %}selected{% endif %}>45 - Naâma</option>
<option value="Aïn Témouchent" {% if selected == "Aïn Témouchent" %}selected{% endif %}>46 - Aïn Témouchent</option>
<option value="Ghardaïa" {% if selected == "Ghardaïa" %}selected{% endif %}>47 - Ghardaïa</option>
<option value="Relizane" {% if selected == "Relizane" %}selected{% endif %}>48 - Relizane</option>
<option value="Timimoun" {% if selected == "Timimoun" %}selected{% endif %}>49 - Timimoun</option>
<option value="Bordj Badji Mokhtar" {% if selected == "Bordj Badji Mokhtar" %}selected{% endif %}>50 - Bordj Badji Mokhtar</option>
<option value="Ouled Djellal" {% if selected == "Ouled Djellal" %}selected{% endif %}>51 - Ouled Djellal</option>
<option value="Béni Abbès" {% if selected == "Béni Abbès" %}selected{% endif %}>52 - Béni Abbès</option>
<option value="In Salah" {% if selected == "In Salah" %}selected{% endif %}>53 - In Salah</option>
<option value="In Guezzam" {% if selected == "In Guezzam" %}selected{% endif %}>54 - In Guezzam</option>
<option value="Touggourt" {% if selected == "Touggourt" %}selected{% endif %}>55 - Touggourt</option>
<option value="Djanet" {% if selected == "Djanet" %}selected{% endif %}>56 - Djanet</option>
<option value="El M'Ghair" {% if selected == "El M'Ghair" %}selected{% endif %}>57 - El M'Ghair</option>
<option value="El Meniaa" {% if selected == "El Meniaa" %}selected{% endif %}>58 - El Meniaa</option>
